<nav class="navbar navbar-inverse" style="height: 60px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">
                <h1 style="margin: auto; margin-top: -1.7%;">
                    <i class="fa fa-film"></i> 
                    <strong> Waver Cinemas</strong>
                </h1>
            </a>
        </div>
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right navbar-toggler">
                <li class="nav-list" ><a href="#" routerLink = "/home"><h3>Home</h3></a></li>
                <li class="nav-list"><a href="#" routerLink = "/bookMovie"><h3>Book Movie</h3></a></li>
                <li class="nav-list"><a href="#" routerLink = "/bookings"><h3>My Bookings</h3></a></li>
                <li><a href="#" routerLink = "/authentication"><h3><i class="fa fa-user icon"></i> Log In/Sign Up</h3></a></li> 
            </ul>
        </div>
    </div>
</nav>
