<section class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="mb-5"><strong><i>Welcome To WaverMovies</i></strong></h1>
            
            <h1 class="mb-5"><strong><i>Book your Tickets for Events/Movies</i></strong></h1>
            <h4><i>Safe, secure, reliable ticketing.Your ticket to live entertainment!</i></h4>
            <div class="row scrollmenu" style="height: 500px; background-color: black; ">
                <div class="card bg-dark text-white">
                    <img src="assets/movie/Endgame.jpg"  class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-decoration: underline;">
                            <a href="#" style="color: rgb(70, 70, 114);">
                                <strong><i>EndGame</i></strong>
                            </a>
                        </h1>
                    </div>
                </div>  
                <div class="card bg-dark text-white">
                    <img src="assets/movie/Jumanji.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-decoration: underline;">
                            <a href="#" style="color: rgb(70, 70, 114);">
                                <strong><i>Jumanji</i></strong>
                            </a>
                        </h1>
                    </div>
                </div>

                <div class="card bg-dark text-white">
                    <img src="assets/movie/FinalDestination.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-decoration: underline;">
                            <a href="#" style="color: rgb(70, 70, 114);">
                                <strong><i>FinalDestination</i></strong>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img src="assets/movie/ForbiddenKingdom.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-decoration: underline;">
                            <a href="#" style="color: rgb(70, 70, 114);">
                                <strong><i>ForbiddenKingdom</i></strong>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img src="assets/movie/Titanic.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-decoration: underline;">
                            <a href="#" style="color: rgb(70, 70, 114);">
                                <strong><i>Titanic</i></strong>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img src="assets/movie/Twilight.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-decoration: underline;">
                            <a href="#" style="color: rgb(70, 70, 114);">
                                <strong><i>Twilight</i></strong>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img src="assets/movie/The-Nun.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-decoration: underline;">
                            <a href="#" style="color: rgb(70, 70, 114);">
                                <strong><i>The-Nun</i></strong>
                            </a>
                        </h1>
                    </div>
                </div>
                <div class="card bg-dark text-white" >
                    <img src="assets/movie/Kingkong.jpg" class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <h1 class="card-title" style="text-decoration: underline;">
                            <a href="#" style="color: rgb(70, 70, 114);">
                                <strong><i>Kingkong</i></strong>
                            </a>
                        </h1>
                    </div>
                </div>
            
            </div>
            <div class="row">
                <div class="col-md-6" style="background-color: aqua;">

                </div>
                <div class="col-md-6" style="background-color: silver;">

                </div>
            </div>
        
        </div>
        
    </div>
</section>