<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="">
                <div class="form-group">
                    
                    <label for="email">Email</label>
                    <input type="email" name="email" placeholder="email" required class="form-control" id="">
               
                    <label for="email">Username</label>
                    <input type="text" name="Username" placeholder="Username" required class="form-control" id="">
                                     
                    <label for="password1">Password</label>
                    <input name="password1" type="password" placeholder="abcd@12345#" required class="form-control" id="">
                                     
                    <label for="password2">Confirm_Password</label>
                    <input name="password2 " type="password" placeholder="abcd@12345#" required class="form-control" id="">
               
                </div>
                    <button class="btn btn-success">Log In</button>
                    <button class="btn btn-success" style="margin-left: 5px;">Sign Up</button>
            </form>
        </div>
    </div>
</div>